@import "../../../../../../../assets/styles/variables/colors.module";
@import "../../../../../../../assets/styles/variables/sizes.module";

.ynb-choose-img-options{
    position: fixed;
    bottom: 0;
    right: 0;
    left:0 ;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    z-index: 200;
}