@import "../../../../../../assets/styles/variables/colors.module";

.filter-item-select {
  background-color: $main-color-1 !important;
  color: #ffffff !important;
  font-weight: bold;
}

.filter-item {
  background-color: #ffffff;
  color: $main-color-1;
  font-weight: bold;
  border-radius: 20px;
  border: 1px solid $main-color-1;
}

.react-horizontal-scrolling-menu--wrapper {
  scrollbar-width: thin;
  ::-webkit-scrollbar {
    height: 3px !important;
  }
  .react-horizontal-scrolling-menu--scroll-container {
    padding-bottom: 0.5rem;
  }
}

.scrollBar-width {
  max-width: calc(800px - 2rem);
}
@media only screen and (max-width: 800px) {
  .scrollBar-width {
    max-width: calc(100vw - 2rem);
  }
}
