:export {
  main-color-1: #157dbc;
  main-color-1-dark: #105a88;
  main-color-1-light: #64baf0;
  main-color-1-contrast: #ebf7ff;
  input-background: #dbdbdb;
}

@font-face {
  font-family: iransans;
  src: url("../fonts/fonts/woff2/IRANSansWeb_Medium.woff2");
  font-style: normal;
}

@font-face {
  font-family: iransansBlack;
  src: url("../fonts/iransans-black.woff");
  font-style: normal;
}

.font-iransans {
  font-family: iransans !important;
}

.font-iransans-black {
  font-family: iransansBlack !important;
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ebebeb;
}

body {
  margin: 0 auto;
  padding: 0 !important;
  max-width: 800px;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100vh;
  font-family: iransans;
  font-size: 0.9rem;
  overflow: hidden !important;
}

body code {
  font-family: sans-serif !important;
}

body #root {
  max-width: 800px;
}

body .app {
  max-width: 800px;
}

body main.main {
  overflow-x: hidden;
  height: 100vh;
  overflow-y: auto !important;
  direction: rtl !important;
}

input,
button {
  outline: none !important;
}

input:focus,
button:focus {
  outline: none !important;
}

div,
label,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong,
small,
button,
input,
textarea,
select,
option,
optgroupm,
table,
tr,
td,
th,
thead,
tbody,
tfoot,
li {
  font-family: iransans !important;
  outline: none !important;
}

code {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.8px;
  font-weight: 600;
}

.w-100-vw {
  width: 100vw;
}

.h-100-vh {
  height: 100vh;
}

.pb-6 {
  margin-bottom: 6rem !important;
}

.pb-7 {
  margin-bottom: 7rem !important;
}

.pb-8 {
  margin-bottom: 8rem !important;
}

.pb-9 {
  margin-bottom: 9rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.mb-7 {
  margin-bottom: 6.6rem !important;
}

.bold {
  font-weight: 600;
}

.text-justify {
  text-align: justify !important;
}

.box-rounded-1 {
  border-radius: 0.75rem !important;
}

.box-rounded-2 {
  border-radius: 1.5rem !important;
}

.box-rounded-3 {
  border-radius: 2.25rem !important;
}

.box-rounded-4 {
  border-radius: 3rem !important;
}

.input-button-box-height {
  height: 2.82rem;
}

.text-main-color-1 {
  color: #157dbc !important;
}

.text-main-color-1-light {
  color: #64baf0 !important;
}

.text-main-color-1-contrast {
  color: #ebf7ff !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fs-7 {
  font-size: 0.8rem !important;
}

.fs-8 {
  font-size: 0.7rem !important;
}

.hidden-scrollbar {
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.tiny-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #157dbc #64baf0;
  /* Track */
  /* Handle */
  /* Handle on hover */
  overflow-y: auto;
  overflow-x: hidden;
}

.tiny-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.tiny-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #64baf0;
  box-shadow: inset 0 0 5px #64baf0;
  border-radius: 1rem;
}

.tiny-scrollbar::-webkit-scrollbar-thumb {
  background: #157dbc;
  border-radius: 10px;
  cursor: pointer;
}

.tiny-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #157dbc;
}

.text-right {
  text-align: right;
}

.cursor-pointer {
  cursor: pointer;
}

.auth-input {
  background-color: #dbdbdb;
  border: 1px solid #dbdbdb !important;
  outline: none;
  height: 45px;
}

.transition-1 {
  -webkit-transition: 0.07s;
  transition: 0.07s;
}

.transition-2 {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.input-grey {
  background-color: #dbdbdb;
  color: #222;
  outline: none !important;
}
.bg-main-color-1 {
  background-color: #157dbc;
  color: #fff;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  standard-user-select: none;

  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/*# sourceMappingURL=base.css.map */
